<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="molemo.quotejob">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".StartPageActivity"
            android:label="Start Job" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeleteJobActivity"
            android:label="Delete Job" >
        </activity>

        <activity
            android:name=".CreateJobActivity"
            android:label="Create Job" >
        </activity>

        <activity
            android:name=".UpdateJobActivity"
            android:label="Update Job" >
        </activity>


        <activity
            android:name=".ReadJobActivity"
            android:label="Read Job" >
        </activity>

    </application>


</manifest>
